.user-admin-color-wrap,
.user-admin-bar-front-wrap,
.user-language-wrap,
.user-nickname-wrap,
.user-display-name-wrap,
.user-url-wrap,
.user-description-wrap,
.user-profile-picture,
.application-passwords,
.user-sessions-wrap{
  display: none;
}
#contextual-help-link-wrap{
  display: none;
}

#your-profile > h2:nth-child(-n+27){
  display: none;
}

#your-profile > h3{
  color: #fff;
}

#wpcontent{
  background-color: #292846;
  color:#bebebe;
}

#wpcontent h1{
  color:#fff;
}

.form-table th, .form-wrap label{
  color: #fff;
}
.wp-core-ui .notice.is-dismissible{
  background-color: #212038;
}

.notice-success, div.updated {
  color: #fff;
  border: 1px solid #8c8f9485;
  border-left-color: #00a32a;
}

.admin_page_crc_admin_verretmes h2,
.admin_page_crc_admin_verdepmes h2,
.admin_page_crc_admin_verretmasmes h2,
.admin_page_crc_admin_verdepmasmes h2{
  color:#fff;
}
.admin_page_crc_verdepmes h2,
.admin_page_crc_verretmes h2{
  color:#fff;
}


input.disabled, input:disabled, textarea.disabled, textarea:disabled {
  background-color: #3c3b4a !important;
  border-color: #8c8f94;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.04);
  color: rgba(255, 255, 255, 0.5) !important;
}

select:disabled{
  background-color: #3c3b4a !important;
  border-color: #8c8f94 !important;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.04);
  text-shadow: none !important;
}

input[type="color"], input[type="date"], input[type="datetime-local"], input[type="datetime"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"],
input[type="text"], input[type="time"],
input[type="url"], input[type="week"],
select, textarea {
  box-shadow: 0 0 0 transparent;
  border-radius: 4px;
  border: 1px solid #8c8f94;
  background-color: #2c2b3c;
  color: #fff;
}

.admin_page_crc_admin_userdashboard input[type="color"],
.admin_page_crc_admin_userdashboard input[type="date"],
.admin_page_crc_admin_userdashboard input[type="datetime-local"],
.admin_page_crc_admin_userdashboard input[type="datetime"],
.admin_page_crc_admin_userdashboard input[type="email"],
.admin_page_crc_admin_userdashboard input[type="month"],
.admin_page_crc_admin_userdashboard input[type="number"],
.admin_page_crc_admin_userdashboard input[type="password"],
.admin_page_crc_admin_userdashboard input[type="search"],
.admin_page_crc_admin_userdashboard input[type="tel"],
.admin_page_crc_admin_userdashboard input[type="text"],
.admin_page_crc_admin_userdashboard input[type="time"],
.admin_page_crc_admin_userdashboard input[type="url"],
.admin_page_crc_admin_userdashboard input[type="week"],
.admin_page_crc_admin_userdashboard select,
.admin_page_crc_admin_userdashboard textarea {
  background-color: #fff !important;
  color: black;
}

.admin_page_crc_admin_verdepmes input[type="color"],
.admin_page_crc_admin_verdepmes input[type="date"],
.admin_page_crc_admin_verdepmes input[type="datetime-local"],
.admin_page_crc_admin_verdepmes input[type="datetime"],
.admin_page_crc_admin_verdepmes input[type="email"],
.admin_page_crc_admin_verdepmes input[type="month"],
.admin_page_crc_admin_verdepmes input[type="number"],
.admin_page_crc_admin_verdepmes input[type="password"],
.admin_page_crc_admin_verdepmes input[type="search"],
.admin_page_crc_admin_verdepmes input[type="tel"],
.admin_page_crc_admin_verdepmes input[type="text"],
.admin_page_crc_admin_verdepmes input[type="time"],
.admin_page_crc_admin_verdepmes input[type="url"],
.admin_page_crc_admin_verdepmes input[type="week"],
.admin_page_crc_admin_verdepmes select,
.admin_page_crc_admin_verdepmes textarea {
  background-color: #fff !important;
  color: black;
}

.admin_page_crc_verdepmes input[type="color"],
.admin_page_crc_verdepmes input[type="date"],
.admin_page_crc_verdepmes input[type="datetime-local"],
.admin_page_crc_verdepmes input[type="datetime"],
.admin_page_crc_verdepmes input[type="email"],
.admin_page_crc_verdepmes input[type="month"],
.admin_page_crc_verdepmes input[type="number"],
.admin_page_crc_verdepmes input[type="password"],
.admin_page_crc_verdepmes input[type="search"],
.admin_page_crc_verdepmes input[type="tel"],
.admin_page_crc_verdepmes input[type="text"],
.admin_page_crc_verdepmes input[type="time"],
.admin_page_crc_verdepmes input[type="url"],
.admin_page_crc_verdepmes input[type="week"],
.admin_page_crc_verdepmes select,
.admin_page_crc_verdepmes textarea {
  background-color: #fff !important;
  color: black;
}

.admin_page_crc_admin_verretmes input[type="color"],
.admin_page_crc_admin_verretmes input[type="date"],
.admin_page_crc_admin_verretmes input[type="datetime-local"],
.admin_page_crc_admin_verretmes input[type="datetime"],
.admin_page_crc_admin_verretmes input[type="email"],
.admin_page_crc_admin_verretmes input[type="month"],
.admin_page_crc_admin_verretmes input[type="number"],
.admin_page_crc_admin_verretmes input[type="password"],
.admin_page_crc_admin_verretmes input[type="search"],
.admin_page_crc_admin_verretmes input[type="tel"],
.admin_page_crc_admin_verretmes input[type="text"],
.admin_page_crc_admin_verretmes input[type="time"],
.admin_page_crc_admin_verretmes input[type="url"],
.admin_page_crc_admin_verretmes input[type="week"],
.admin_page_crc_admin_verretmes select,
.admin_page_crc_admin_verretmes textarea {
  background-color: #fff !important;
  color: black;
}

.admin_page_crc_verretmes input[type="color"],
.admin_page_crc_verretmes input[type="date"],
.admin_page_crc_verretmes input[type="datetime-local"],
.admin_page_crc_verretmes input[type="datetime"],
.admin_page_crc_verretmes input[type="email"],
.admin_page_crc_verretmes input[type="month"],
.admin_page_crc_verretmes input[type="number"],
.admin_page_crc_verretmes input[type="password"],
.admin_page_crc_verretmes input[type="search"],
.admin_page_crc_verretmes input[type="tel"],
.admin_page_crc_verretmes input[type="text"],
.admin_page_crc_verretmes input[type="time"],
.admin_page_crc_verretmes input[type="url"],
.admin_page_crc_verretmes input[type="week"],
.admin_page_crc_verretmes select,
.admin_page_crc_verretmes textarea {
  background-color: #fff !important;
  color: black;
}

.admin_page_crc_admin_verdepmasmes input[type="color"],
.admin_page_crc_admin_verdepmasmes input[type="date"],
.admin_page_crc_admin_verdepmasmes input[type="datetime-local"],
.admin_page_crc_admin_verdepmasmes input[type="datetime"],
.admin_page_crc_admin_verdepmasmes input[type="email"],
.admin_page_crc_admin_verdepmasmes input[type="month"],
.admin_page_crc_admin_verdepmasmes input[type="number"],
.admin_page_crc_admin_verdepmasmes input[type="password"],
.admin_page_crc_admin_verdepmasmes input[type="search"],
.admin_page_crc_admin_verdepmasmes input[type="tel"],
.admin_page_crc_admin_verdepmasmes input[type="text"],
.admin_page_crc_admin_verdepmasmes input[type="time"],
.admin_page_crc_admin_verdepmasmes input[type="url"],
.admin_page_crc_admin_verdepmasmes input[type="week"],
.admin_page_crc_admin_verdepmasmes select,
.admin_page_crc_admin_verdepmasmes textarea {
  background-color: #fff !important;
  color: black;
}


.admin_page_crc_admin_verretmasmes input[type="color"],
.admin_page_crc_admin_verretmasmes input[type="date"],
.admin_page_crc_admin_verretmasmes input[type="datetime-local"],
.admin_page_crc_admin_verretmasmes input[type="datetime"],
.admin_page_crc_admin_verretmasmes input[type="email"],
.admin_page_crc_admin_verretmasmes input[type="month"],
.admin_page_crc_admin_verretmasmes input[type="number"],
.admin_page_crc_admin_verretmasmes input[type="password"],
.admin_page_crc_admin_verretmasmes input[type="search"],
.admin_page_crc_admin_verretmasmes input[type="tel"],
.admin_page_crc_admin_verretmasmes input[type="text"],
.admin_page_crc_admin_verretmasmes input[type="time"],
.admin_page_crc_admin_verretmasmes input[type="url"],
.admin_page_crc_admin_verretmasmes input[type="week"],
.admin_page_crc_admin_verretmasmes select,
.admin_page_crc_admin_verretmasmes textarea {
  background-color: #fff !important;
  color: black;
}
.button-primary{
  border:none;
  padding: 5px 20px !important;
  font-size: 16px !important;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  min-height: 32px !important;
  line-height: 2.30769231 !important;
}

.button-primary:hover{

}

.form-table td p {
  color:#bebebe;
}

#profile-page select {
  box-shadow: 0 0 0 transparent;
  border-radius: 4px;
  border: 1px solid #8c8f94;
  background-color: #2c2b3c;
  color: #fff;
}
