#header, #footer, hr{
  display: none;
}

a.logo_theinc{
  background-image: url(../img/logo_theinc.png);
  height: 125px;
  width:100%;
  margin: 0 0 25px;
  background-size: 55%;
  background-position: center;
	display: inline-block;
	background-repeat: no-repeat;
}

#crc-usuario-titulo-registro-usuario{
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1rem;
  color:#fff;
}

.exito-registro,
.fracaso-registro{
  text-align: center;
  font-size: 1rem;
  color: #86D386;
  font-weight: normal;
  font-family: 'Open Sans',sans-serif;
  max-width: 300px;
  margin: 3rem auto 4rem;
}

.page_registro{
  min-height: 100vh;
  background-image: url(../img/fondo_theinc.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-color: #343233;
  padding: 3rem 0;
}
#notificacion_registro{
  display: none;
}

#formulario_registro,
#notificacion_registro{
  background-color: #4a4748;
  padding: 40px 30px;
  border-radius: 10px;
  /* box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.50);
  -webkit-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.50);
  -moz-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.50); */
  font-family: 'Open Sans', sans-serif;
  width: 320px;
  margin: auto;
  border: 30px solid #434042;
}

@media screen and (min-width: 782px){
  #formulario_registro,
  #notificacion_registro{
    width: 400px;
  }
}

#notificacion_registro p{
  font-size: 14px;
  line-height: 1.5;
  display: inline-block;
  font-weight: bold;
  color: #fff;
  margin-bottom: 15px;
  font-family: 'Open Sans', sans-serif;
}

#notificacion_registro ul {
  list-style: none;
  padding-left: initial;
}
#notificacion_registro li {
  padding-bottom: 1rem;
  font-size: 14px;
  color:#fff;
}
#notificacion_registro a{
  text-decoration: none;
}
.aviso-falta-cmb{
  font-size: 14px;
  color: #ff4343;
}
.cmb-row{
  margin-bottom: 0;
padding: 5px;
}
.cmb-td {
  max-width: 100%;
  padding: 0 !important;
  width: 100% !important;
}
.cmb-th{
  padding: 0 !important;
}
.cmb-th label{
  font-size: 14px;
  line-height: 1.5;
  display: inline-block;
  font-weight: bold;
  color: #fff;
  margin-bottom: 15px;
  font-family: 'Open Sans', sans-serif;
}
.cmb-td input,
.cmb-td select,
.select2-selection{
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #8E8E8E;
  font-size: 14px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  width: 100% !important;
  box-sizing: border-box;
  margin: 0 6px 16px 0;
  background-color: #727071;
}

.cmb-td input:focus,
.cmb-td select:focus,
.select2-selection:focus{
  border: 2px solid #67b456 !important;
  box-shadow: 0 0 0 1px #67b456 !important;
  outline: 2px solid transparent;
  background-color: #727071 !important;
}
.cmb-td .select2-selection__rendered{
  line-height: inherit !important;
}
.button-primary{
  display: block;
  width: calc(100% - 15px);
  border-radius: 15px;
  padding: 5px 0px !important;
  position: relative;
  margin: 1rem auto;
  float: inherit;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  border:none;
  background: linear-gradient(231deg, rgba(103,180,86,1) 0%, rgba(111,240,50,1) 100%);
  transition: all 1s ease;
  color: #fff;
  min-height: 32px;
  line-height: 2.30769231;
  max-width: 280px;
}
.button-primary:hover{
  background: rgb(111,240,50);
  background: linear-gradient(231deg, rgba(111,240,50,1) 0%, rgba(103,180,86,1) 100%);
  /* box-shadow: 0px 0px 12px 0px rgba(103,180,86,1);
  -webkit-box-shadow: 0px 0px 12px 0px rgba(103,180,86,1);
  -moz-box-shadow: 0px 0px 12px 0px rgba(103,180,86,1); */
  cursor: pointer;
}

a.yetuser{
  display: block;
margin: 1.4rem auto;
max-width: fit-content;
font-family: 'Open Sans', sans-serif;
font-size: 13px;
line-height: 1.4;
color: #86D386;
transition-property: border,background,color;
transition-duration: .05s;
transition-timing-function: ease-in-out;
text-decoration: none;
text-align: center;
}
a.yetuser:hover{
  text-decoration: underline;
}
a.yetuser span{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 3;
}

#cmb2-metabox-crc_usuario_registrar  .hay-user{
  position: relative;
  display: none;
  color: #ff4343;
  transition: all 2s ease;
  font-size: 0.9rem;
}

#cmb2-metabox-crc_usuario_registrar .mascotas-load{
  max-width: 35px;
  position: relative;
  display: none;
  vertical-align: middle;
  margin-left: 10px;
  font-size: 0.9rem;
}

#cmb2-metabox-crc_usuario_registrar .hay-user:hover{
  display: none;
}

.gracias{
  color:white;
  font-weight: 800;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
