.tab-repmensual .btn-proyec-user{
  background-color: #21ca63;
  border-color: #21ca63;
  padding: 5px 12px;
}

.tab-repmensual tr td{
  vertical-align: middle;
}

.tab-repmensual .btn-proyec-user:hover{
  cursor: pointer;
  background-color: #0ab74e;
  border-color: #0ab74e;
}

.tab-repmensual .btn-proyec-user i{
  color: #fff;
  font-size: 18px;
}

.oper-depmas i{
  padding: 1rem 1.5rem;
  border-radius: 8px;
  color: #fff;
  font-size: 1.8rem;
}

.oper-retmas i{
  padding: 1rem 1.5rem;
  border-radius: 8px;
  color: #fff;
  font-size: 1.8rem;
}

.oper-totalinv i{
  background-color: #a739cf;
  padding: 1rem 1.1rem;
  border-radius: 8px;
  color: #fff;
  font-size: 1.2rem;
  margin-right: 30px;
}

.oper-titulo{
  align-content: center;
  color: #fff;
  font-weight: bold;
  margin: auto 0;
  width: 300px;
}

.oper-cant{
  margin: auto 0;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  text-shadow: 0px 0px 1px #ffffff78;
}

#rep-fecha .form-label{
  color:white;
}

.caja-repor{
  min-height: 450px;
}

.caja-spin{
  margin: 5rem 0;
  display: none;
}

.sk-chase {
  width: 40px;
  height: 40px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
  margin: 0 auto;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2.0s infinite ease-in-out both;
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
  100% { transform: rotate(360deg); }
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); }
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  } 100%, 0% {
    transform: scale(1.0);
  }
}
